@media (prefers-color-scheme: light) {
:root {
    --foreground: #100c12;
    --background: #f6f1f9;
    --primary: #ff1a81;
    --secondary: #e7d1fa;
    --accent: #5cb3ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f6f1f9;
    --background: #100c12;
    --primary: #e60067;
    --secondary: #1b052e;
    --accent: #0057a3;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Rubik, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background image */

body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("/background.png") center;
  background-size: cover;
  z-index: -1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
