@media (prefers-color-scheme: light) {
  :root {
    --foreground: #100c12;
    --background: #f6f1f9;
    --primary: #ff1a81;
    --secondary: #e7d1fa;
    --accent: #5cb3ff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f6f1f9;
    --background: #100c12;
    --primary: #e60067;
    --secondary: #1b052e;
    --accent: #0057a3;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Rubik, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Background image */

body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: url("/background.png") center;
  background-size: cover;
  z-index: -1;
}

section {
  height: 100vh;
  width: 100vw;
}

section>div {
  height: 100%;
}

@media only screen and (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
  }

  section:nth-child(1) {
    margin-left: 0%;
  }

  section:nth-child(2) {
    margin-left: 33.33%;
  }

  section:nth-child(1)>div {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  section:nth-child(2)>div {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono";
}

img {
  vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}