.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  font-family: var(--font-rubik-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.page section {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.page section:nth-child(1) {
  margin-left: 0%;
}

.page section:nth-child(2) {
  margin-left: 33.33%;
}

.page section:nth-child(1)>div {
  grid-column-start: 2;
  grid-column-end: 4;
}

.page section:nth-child(2)>div {
  grid-column-start: 1;
  grid-column-end: 3;
}

.page section>div {
  padding: 60px;
  background: var(--background);
}

section>div:has(.title) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background: var(--secondary);
  text-align: center;
  padding: 4px;
  white-space: nowrap;
}

.title h1 {
  margin: 1rem 2rem;
}

.title h1:first-child {
  margin-top: -1.5rem;
}

.title h1:last-child {
  margin-bottom: -1.5rem;
}

.page h2::after {
  content: "";
  width: 0;
  height: 3px;
  margin-left: 8px;
  background: var(--foreground);
  display: block;
  transition: 0.4s;
}

.page h2.underline::after {
  width: 80px;
}

.outline {
  /* Color override if webkit is supported */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--foreground);
}

.highlight {
  color: var(--primary);
  position: relative;
  clip-path: inset(0);
  background: transparent;
}

.highlight::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  transition: left 0.4s;
  background: var(--primary);
}

.highlight:hover::before {
  left: 100%;
}
