#container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#container a {
  display: block;
  background-color: var(--background);
  border-radius: 50%;
  padding: 5px;
  height: 75px;
  width: 75px;
  box-sizing: content-box;
  clip-path: circle();
}

#container a::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--color);
  width: 0px;
  height: 0px;
  transition: width 0.2s, height 0.2s;
  pointer-events: none;
  left: var(--mouse-x, 0);
  top: var(--mouse-y, 0);
  transform: translate(-50%, -50%);
}

#container a:hover::before {
  width: 50px;
  height: 50px;
}

#container a img {
  position: absolute;
  border-radius: 50%;
}
